* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: calc(1em + 1vw);
  font-family: 'Courier New', Courier, monospace;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#countdown {
  margin-top: 5%;
  font-size: 3rem;
}
